.fondo-desplegable-azul{
    background-color: rgb(19, 64, 122);
}

.texto-blanco{
    color: white;
}

.custom-modal-size {
  max-width: 450; /* Ancho máximo del modal */
  max-height: 600px; /* Altura máxima del modal */
}
