<app-cabecera />
<div class="fondo htmlP">
  <div class="fondo-imagen">
    <div class="d-flex justify-content-center">
      <div class="informacion">
        <div class="texto-login">
          
          <h3 class="fs-40px texto-blanco"><b>POLIZA</b></h3>
        </div>
        <div class="texto-login">
          <p class="fs-14px mt-3">
            La información aquí contenida es solicitada por esta Autoridad
            con fines de vigilancia, inspección y control propios de sus funciones.
            Podrá consultar la Política Institucional de Seguridad y Privacidad de
            la información en el siguiente enlace
            <a class="fw-semibold fs-14px cursor-pointer"
              href="assets/documentos/TIC-PO-001-V2-Seguridad-y-Privacidad-de-la-Informacion.pdf" target="_blank">
              ver política
            </a>
          </p>
        </div>
      </div>
      <div class="card contenedor-inicio-sesion">
        <div class="card-body">
          <div class="logos d-flex w-100 px-2 justify-content-between">
            <div class="col-12 ms-auto text-center">
              <img draggable="false" class="img-fluid logo-supertransporte" src="assets/img/cabecera/supertransporte.jpg"
                alt="ministerio-de-transporte">
              <h5 class="texto-sesion">Inicio de Sesión</h5>
              <p class="texto-obligatorio">Los campos marcados con * son obligatorios</p>
            </div>
          </div>
          <div class="contenedor-formulario">
            <form class="w-100" [formGroup]="this.formulario">
              <fieldset class="mb-4">
                <label class="fs-16px mb-2 texto-gris-4B4B4B" for="usuario">Usuario*</label>
                <input placeholder="Ingrese aquí su NIT sin dígito de verificación" class="form-control" type="text"
                  name="usuario" formControlName="usuario" required
                  [ngClass]="{'input-error':this.formulario.controls['usuario'].errors &&
                          this.formulario.controls['usuario'].dirty && this.formulario.controls['usuario'].errors['required']}">
                <span class="validacion"
                  *ngIf="this.formulario.controls['usuario'].errors &&
                          this.formulario.controls['usuario'].dirty && this.formulario.controls['usuario'].errors['required']">
                  Ingrese su usuario
                </span>
              </fieldset>
              <fieldset class="mb-4">
                <label class="fs-16px mb-2 texto-gris-4B4B4B" for="clave">Contraseña*</label>
                <input placeholder="Ingrese aquí su contraseña" class="form-control" type="password" name="clave"
                  formControlName="clave" required [ngClass]="{'input-error':this.formulario.controls['clave'].errors &&
                          this.formulario.controls['clave'].dirty}">
                <span class="validacion" *ngIf="this.formulario.controls['clave'].invalid &&
                          this.formulario.controls['clave'].dirty">
                  Ingrese su contraseña
                </span>
              </fieldset>
              <!-- Ajuste para centrar el captcha -->
              <fieldset class="mb-3 d-flex justify-content-center align-items-center">
                <div class="d-block"
                  [ngClass]="{'input-error':this.formulario.controls['captcha'].errors &&
                        this.formulario.controls['captcha'].dirty && this.formulario.controls['captcha'].errors['required']}">
                  <ngx-recaptcha2 #captchaElem [siteKey]="llaveCaptcha" [useGlobalDomain]="false" [theme]="'light'"
                    formControlName='captcha' required>
                  </ngx-recaptcha2>
                  <app-validacion [texto]="'Debe marcar la casilla'" [validacion]="'required'"
                    [control]="this.formulario.controls['captcha']" />
                </div>
              </fieldset>
              <fieldset style="display: flex; justify-content:end;">
                <button type="button" class="boton primario relleno fs-16px" (click)="this.iniciarSesion()"
                  (keyup.enter)="this.iniciarSesion()">Ingreso</button>
              </fieldset>
              <hr>
              <div class="text-start mt-3">
                <span  class="texto-primario fs-16px texto-azul-004884 cursor-pointer" style="margin-left: 34px; text-decoration: underline;" (click)="this.abrirModalRecuperacion()" >
                  Olvidé mi contraseña
                </span>
              </div>
              <div class="text-start mt-3">
                <span class="texto-primario fs-16px texto-azul-004884 cursor-pointer" style="margin-left: 34px; text-decoration: underline;" [routerLink]="['/soporte']">
                  Problemas de acceso
                </span> 
              </div>
              
            </form>
            <!-- Los enlaces siguen comentados -->
            <div id="contenedor-enlaces" class="text-center mt-3">
              <!-- <span class="fs-16px texto-azul-004884 cursor-pointer">
                <a href="https://www.youtube.com/watch?v=4zJH7N8OgV4" target="_blank">
                  Video tutorial de recuperación de contraseña
                </a>
              </span><br>
              <span class="fs-16px texto-azul-004884 cursor-pointer">
                <a href="assets/documentos/manual_polizas.pdf" target="_blank">
                  Manual de usuario
                </a>
              </span><br>
              <span class="fs-16px texto-azul-004884 cursor-pointer">
                <a href="assets/documentos/PREGUNTAS_FRECUENTES_PECCIT.pdf" target="_blank">
                  Preguntas frecuentes
                </a>
              </span><br>-->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangulo"></div>
</div>

<!--FOOTER -->
<div class="footerP ">
  <nav class="navbar w-100 ps-5 ">
    <div class="container-fluid d-flex">
      <div class="logo logosuperP">
        <img class="img-fluid escudoGoP" src="assets/img/footer/co_colombia.png" alt="">
        <img class="img-fluid escudoGoP" src="assets/img/cabecera/gov.png" alt="">
      </div>
      
      <!--
      <div class="d-flex align-items-center justify-content-end ms-auto" *ngIf="usuario">
        <span class="fs-12px p-3 cursor-pointer"><b>Usuario: </b>{{ usuario.nombre }} {{ usuario.apellido }}</span>
      </div> -->
    </div>
  </nav>
</div>


<app-modal-recuperacion-contrasena #modalRecuperacion></app-modal-recuperacion-contrasena>
<app-popup #popup />