.alerta-contraseña{
    width:100%;
    background: #E6EFFD 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0%;
    }
    .titulo-modal-centrado {
        text-align: center;
      }
    
      .logo-supertransporte{
        width: 164px;
        height: 62px;
        margin: 0 auto;
        /* margin-top: 0; */
        margin-left: 230px
      }
    
      .modal-title {
        text-align: center; 
        margin-left: 142px; 
        margin-right: auto; 
        font: normal normal bold 32px/18px Montserrat;
    letter-spacing: 0px;
    color: #3366CC;
    opacity: 1;
    
      }
    
      .modal-header .btn-close-personalizado {
        padding: calc(var(--bs-modal-header-padding-y)* .5) calc(var(--bs-modal-header-padding-x)* .5);
        
        margin-top: -82px;
        margin-right: -12px;
        width: -4px;
        height: 39px;
    
    }
    .fs-14px-personal {
        font-size: 14px !important;
        margin-left: 103px;
        margin-right: 47px;
    }
      
      