<div class="clasificacion d-flex w-100 mb-3 fondo-desplegable texto">
    <span class="fw-semibold"> >> </span>
    <span class="fs-14px fw-semibold centrar">
        INFORMACIÓN SOBRE EL FONDO DE RESPONSABILIDAD
    </span>
</div>
<div class="d-flex w-100 mb-3">
    <div class="encabezado col-12">
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">Fecha Constitución Fondo</span>
            </div>
            <div class="col-6">
                <input type="date" class="form-control" title="Fecha constitución"
                formControlName="fechaConstitucion">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">Numero de Resolución Superintendencia Financiera o entidad competente</span>
            </div>
            <div class="col-6">
                <input type="number" class="form-control" title="Número resolución"
                formControlName="numeroResolucion">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">Fecha Resolución de Resolución Superintendencia Financiera o entidad competente</span>
            </div>
            <div class="col-6">
                <input type="date" class="form-control" title="Fecha Resolución"
                formControlName="fechaResolucion">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">Valor Reservas Técnicas del Fondo para cubrir las responsabilidades (SMMLV)</span>
            </div>
            <div class="col-6">
                <input type="number" class="form-control" title="valor reservas"
                formControlName="valorReserva">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">
                    Fecha de corte reservas técnicas del fondo para cubrir las responsabilidades/fecha de corte reservas
                </span>
            </div>
            <div class="col-6">
                <input type="date" class="form-control" title="Fecha corte reservas"
                formControlName="fechaCorteReserva">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">Otra información complementaria del Fondo</span>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" title="información complementaria"
                formControlName="infoComplementaria">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">¿El fondo opera en primera o segunda capa?</span>
            </div>
            <div class="col-6">
                <input type="number" class="form-control" title="¿primera o segunda?"
                formControlName="capas">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">Valor del cubrimiento 1 capa (SMMLV)</span>
            </div>
            <div class="col-6">
                <input type="number" class="form-control" title="primera capa"
                formControlName="capa1">
            </div>
        </div>
        <div class="row mx-0 mb-3">
            <div class="col-6">
                <span class="fs-14px">Valor del cubrimiento 2 capa (SMMLV)</span>
            </div>
            <div class="col-6">
                <input type="number" class="form-control" title="segunda capa"
                formControlName="capa2">
            </div>
        </div>
    </div>
</div>
