<nav class="menu d-flex ps-3 w-100" *ngIf="this.rol && this.rol.modulos">
  <ul class="modulos">
    <li class="logosuperP">
      <img src="assets/img/menu/logo.png" class="logoP">
    </li>
    <li [routerLinkActive]="'ActiveLinkP'" class="modulo" *ngFor="let modulo of this.rol.modulos">
      <span class="nombre-modulo" routerLink="/administrar{{modulo.ruta}}">{{modulo.nombre}}</span>
      <ul class="submodulos" *ngIf="modulo.submodulos">
        <li class="submodulo" *ngFor="let submodulo of modulo.submodulos" (click)="navegarAlSubmodulo(submodulo)">
          <span class="nombre-submodulo">{{ submodulo.nombre }}</span>
        </li>
      </ul>
    </li>
    <li class="modulo">
      <span class="nombre-modulo">Seguridad</span>
      <ul class="submodulos borderMenu">
        <li class="submodulo" (click)="cerrarSesion()" style="width: 110px;">
          <span class="nombre-submodulo">Salir</span>
        </li>
      </ul>
    </li>
  </ul>
  
  
</nav>


<div class="frajaP d-flex ps-4">
  <h1 class="ciglaSistemaP alinh1P mt-4">PÓLIZAS</h1>
</div>
<div class="frajaP2 d-flex"></div>

<div class="d-flex ps-4 mx-3 pt-2" *ngIf="(MostrarNombrePanP() !='')">
  <nav class="inicioMigaPanP" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item migaPanP" routerLink="/administrar/crear-polizas" aria-current="page">Póliza</li>    
        <li class="breadcrumb-item migaPanP active" routerLink="/administrar{{ServiceMenuP.RutaModelo}}" aria-current="page">{{MostrarNombrePanP()}}</li>
    </ol>
  </nav>
</div>
