<nav class="navbar w-100 ps-5">
    <div class="container-fluid d-flex">
      <div class="logo logosuperP">
        <img class="img-fluid escudoGoP" src="assets/img/footer/co_colombia.png" alt="">
        <img class="img-fluid escudoGoP" src="assets/img/cabecera/gov.png" alt="">
      </div>
      
      <!--
      <div class="d-flex align-items-center justify-content-end ms-auto" *ngIf="usuario">
        <span class="fs-12px p-3 cursor-pointer"><b>Usuario: </b>{{ usuario.nombre }} {{ usuario.apellido }}</span>
      </div> -->
    </div>
</nav>
