<div class="mt-4 px-sm-3 px-md-4 px-lg-5">
  <div class="py-2">
    <span class="TamTituloP texto-azul-004884">
      Gestionar Pólizas
    </span>
  </div>
  <!--///////////////////////////// Tabla gestionar polizas ///////////////////////////////////////////////////// -->
  <div>
    <table class="table tabla-primaria borderP" aria-describedby="table-basic">
      <thead class="encabezado-tabla">
 <!--       <thead class="encabezado-tabla" id="cabezera-tabla"> -->
          <tr class="centrado">
          <th scope="col">Tipo Póliza</th>
          <th scope="col">N° de Póliza</th>
          <th scope="col">Estado Póliza</th>
          <th scope="col">Fecha Cargue</th>
          <th scope="col">Vigencia - Fecha inicio</th>
          <th scope="col">Vigencia - Fecha fin</th>
          <th scope="col">Aseguradora</th>
          <th scope="col">Cantidad de vehiculos</th>
        </tr>
      </thead>
      <tbody class="contenido-tablas centrado">
        <tr *ngFor="let poliza of polizas; let i = index">
          <td class="pointer tdxP" (click)="visualizarPoliza(poliza.poliza, poliza.tipoPoliza, poliza.estadoPoliza)">
            {{poliza.tipoPoliza}}
          </td>
          <td class="pointer tdxP" (click)="visualizarPoliza(poliza.poliza, poliza.tipoPoliza, poliza.estadoPoliza)">
            {{poliza.poliza}}
          </td>
          <td class=" tdxP">{{poliza.estadoPoliza}}</td>
          <td class=" tdxP">{{poliza.fechaCargue | fecha: 'dd/MM/yyyy'}}</td>
          <td class=" tdxP">{{poliza.fechaInicio | fecha: 'dd/MM/yyyy'}}</td>
          <td class=" tdxP">{{poliza.fechaFin | fecha: 'dd/MM/yyyy'}}</td>
          <td class=" tdxP">{{poliza.aseguradora}}</td>
          <td class=" tdxP">{{poliza.cantidadVehiculos}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <ngb-pagination [collectionSize]="this.paginador.totalRegistros ?? 0" [page]="this.paginador.pagina"
        [pageSize]="paginador.limite" [directionLinks]="true" [maxSize]="5"
        (pageChange)="this.paginador.cambiarPagina($event)">
        <ng-template ngbPaginationFirst>Prim.</ng-template>
        <ng-template ngbPaginationLast>Ult.</ng-template>
        <ng-template ngbPaginationPrevious>Ant.</ng-template>
        <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
    </div>
  </div>
    <!--///////////////////////////// Tabla para ver la cantidad de vehiculos ///////////////////////////////////////////////// -->
    <div>

      <table class="table tabla-primaria borderP " aria-describedby="table-basic">
        <thead class="encabezado-tabla" id="cabezera-cantidad-vehiculos">
          <tr class="centrado">
            <th scope="col">Total de vehículos activos</th>
            <th scope="col">Total de Pólizas contractuales <br>de vehículos activos</th>
            <th scope="col">Total de Pólizas extracontractuales <br>de vehículos activos</th>
          </tr>
        </thead>
        <tbody class="contenido-tablas">
          <tr class="centrado">
            <td>{{totalVehiculos}}</td>
            <td>{{totalVehiculosContractuales}}</td>
            <td>{{totalVehiculosExtracontractuales}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <!--///////////////////////////// Tabla para ver la poliza seleccionada ///////////////////////////////////////////////////// -->
  <div class="d-block mb-3">
    <table class="table tabla-primaria borderP">
      <tbody>
        <tr>
          <th scope="col borderP encabezado-PModalidad">Póliza</th>
        </tr>
        <tr>
          <td>{{numeroPoliza}}</td>
        </tr>
      </tbody>
    </table>
  </div>
        <!-----INICIO DE LAS MODALIDADES PAOLO-->
        <div class="row" *ngIf="verPoliza==true && modalidadesP.length > 0"> <!--esta es la linea del 16-10-2024 ocultar cuando no hay modalidad-->
          <div class="col py-2 ">
              <div class="borderP mt-1 tabla-informacionP w-100 table-responsiveP">
                  <div class="row encabezado-PModalidad borderP">
                    <div class="col-12 d-flex ">
                      <h2 class="fs-14px fw-semibold texto-azul-004884 aligPModalidad">Datos de modalidad</h2>
                    </div>
                  </div>
                  <div class="row py-2 alingFilaP">

                    <div *ngFor="let modalidad of modalidadesP; let i=index" class="col-md-2">

                      <div class="col form-check">

                          <input class="form-check-input aligPModalidad"  type="checkbox" checked disabled [value]="modalidad.obj_modalidad.modpol_id" >
                          <label>
                              {{modalidad.obj_modalidad.modpol_nombre}}
                          </label>
                      </div>
                    </div>

                  </div>

              </div>
          </div>
      </div>
        <!----FIN DE LAS MODALIDADES PAOLO-->



  <!--///////////////////////////// llamada componentes polizas contractuales y polizas extracontractuales///////////////////// -->
  <div class="mt-4 mb-3">
    <app-polizas-contractuales *ngIf="poliza && tipoPoliza==1 && verPoliza==true"
      [poliza]="poliza"></app-polizas-contractuales>
    <app-polizas-extracontractuales *ngIf="poliza && tipoPoliza==2 && verPoliza==true"
      [poliza]="poliza"></app-polizas-extracontractuales>
  </div>
  <!--///////////////////////////// Seccion para vincular vehiculos ///////////////////////////////////////////////////// -->
  <div class="d-flex mb-3">
    <div class="table-responsive custom-scroll">
      <form #vehiculosForm="ngForm" class="scroll-formulario">
        <div class="mt-2 clasificacion d-flex w-100">
          <div class="mx-3">
            <span class="SubtituloP">
              Vincular vehículo
            </span>
          </div>
        </div>
        <table class="table tabla-primaria borderP">
          <thead class="encabezado-tabla">
            <tr class="w-100 izq">
              <th scope="col">Placa</th>
              <th scope="col">Cantidad de pasajeros</th>
            </tr>
          </thead>
          <tbody *ngFor="let vehiculo of vehiculos2; let i = index" class="contenido-tablas">
            <tr class="izq">
              <td class="entradas-de-texto-govco">
                <input type="text" name="placa{{i}}" [(ngModel)]="vehiculo.placa" placeholder="Ej: CKV341"
                       (change)="validarPlaca(vehiculo.placa, i)" maxlength="6" required/>
              </td>
              <td class="entradas-de-texto-govco">
                <input type="number" name="pasajeros{{i}}" [(ngModel)]="vehiculo.pasajeros" placeholder="Ej: 10"
                       [disabled]="!vehiculo.placaValida"  (input)="limitarDigitos($event, 2)" required/>
              </td>
              <button type="button" id="eliminarInputsVehiculos" class="btn-govco fill-btn-govco" (click)="eliminarVehiculo(i)"><i class="bi bi-trash"></i></button>
              <button type="button" class="btn-govco fill-btn-govco" [disabled]="!esValido || !estadoPoliza" (click)="limpiarFormulario()">Limpiar</button>
            </tr>
          </tbody>
          <tbody *ngIf="vehiculos2.length === 0 && estadoPoliza" class="contenido-tablas" id="arregloVehiculosVacio">
            <tr class="izq">
              <td colspan="2">
                <h5 style="color: black;">Agregué un vehículo</h5>
              </td>
            </tr>
          </tbody>

          <!-- <tbody class="contenido-tablas">
                          <tr *ngFor="let placa of placasInteroperabilidadPaginacion; let i = index">
                              <td class="checkbox-seleccion-govco">
                                  <input [id]="placa+'check'" type="checkbox"
                                      (click)="habilitarVinculacionVehiculo($event,placa)" />
                              </td>
                              <td>{{placa}}</td>
                              <td class="entradas-de-texto-govco">
                                  <input type="number" [id]="placa+'input'" name="pasajeros" placeholder="Ej: 10"
                                      (change)="agregarPasajeros($event,placa)" disabled />
                                  <span *ngIf="errores[placa+'input'] === 'cero' && checkHabilitado == true"
                                      class="validacion">No debe ser 0.</span>
                                  <span *ngIf="errores[placa+'input'] === 'negativo' && checkHabilitado == true"
                                      class="validacion">No debe ser número negativo.</span>
                                  <span *ngIf="errores[placa+'input'] === 'requerido' && checkHabilitado == true"
                                      class="validacion">La cantidad de pasajeros es requerida.</span>
                              </td>
                          </tr>
                      </tbody> -->
        </table>
      </form>

      <!-- <div class="d-flex justify-content-end">
                <ngb-pagination [collectionSize]="this.paginadorInteroperabilidad.totalRegistros"
                    [page]="this.paginadorInteroperabilidad.pagina" [pageSize]="paginadorInteroperabilidad.limite"
                    [directionLinks]="true" [maxSize]="5" (pageChange)="cambiarPaginaInteroperabilidad($event)">
                    <ng-template ngbPaginationFirst>Prim.</ng-template>
                    <ng-template ngbPaginationLast>Ult.</ng-template>
                    <ng-template ngbPaginationPrevious>Ant.</ng-template>
                    <ng-template ngbPaginationNext>Sig.</ng-template>
                </ngb-pagination>
            </div> -->
      <div class="d-flex justify-content-between ">
        <button type="button" class="btn-govco fill-btn-govco" style="width: 165px; height: 42px;"
          (click)="agregarVehiculosPoliza()" [disabled]="!esValido || !estadoPoliza">Vincular</button>
        <button type="button" class="btn-govco outline-btn-govco" style="width: 186px; height: 42px;"
          (click)="agregarVehiculoForm()" [disabled]="!esValido || !estadoPoliza">Agregar vehículo
          <!-- <i class="bi bi-plus-circle"></i> --></button>
      </div>
      <!-- <div class="mt-2 mb-2">
                <button type="button" class="btn-govco fill-btn-govco" style="width: 165px; height: 42px;"
                    (click)="agregarVehiculosPoliza()" [disabled]="!esValido">Vincular</button>
            </div> -->
    </div>
  </div>

  <!--///////////////////////////// Tabla para ver las novedades de la poliza ////////////////////////////////////////////// -->
  <div class="d-flex mb-3">
    <div class="table custom-scroll">
      <div class="mt-2 clasificacion d-flex w-100">
        <div class="mx-2">
          <span class="SubtituloP">
            Novedades pólizas
          </span>
        </div>
      </div>
      <table class="table tabla-primaria borderP" aria-describedby="table-basic">
        <thead class="encabezado-tabla">
          <tr class="centrado">
            <th scope="col">Tipo de póliza</th>
            <th scope="col">N° de póliza</th>
            <th scope="col">Placa</th>
            <th scope="col">Fecha de actualización</th>
            <th scope="col">Estado</th>
            <th scope="col">Observación</th>
          </tr>
        </thead>
        <tbody id="tabla-primaria-border" class="contenido-tablas centrado">
          <tr *ngFor="let novedad of novedadesPolizaPaginacion; let i = index">
            <td>{{convertirTipoOracion(novedad.tipopolizanombre!)}}</td>
            <!-- <td *ngIf="novedad.tipoPoliza == 1">Responsabilidad civil contractual</td>
            <td *ngIf="novedad.tipoPoliza == 2">Responsabilidad civil extracontractual</td> -->
            <td>{{novedad.poliza}}</td>
            <td>{{novedad.placa}}</td>
            <td>{{novedad.fechaActualizacion | fecha: 'dd/MM/yyyy'}}</td>
            <td>{{convertirTipoOracion(novedad.estado)}}</td>
            <td>{{convertirTipoOracion(novedad.observacion)}}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <ngb-pagination [collectionSize]="this.paginadorNovedades.totalRegistros"
          [page]="this.paginadorNovedades.pagina" [pageSize]="paginadorNovedades.limite" [directionLinks]="true"
          [maxSize]="5" (pageChange)="cambiarPaginaNovedades($event)">
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
  <app-alertas-gov [alert]="alert" [text]="textoAlert"></app-alertas-gov>

  <app-popup #popup />
</div>
