.checkbox-seleccion-govco {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  background-color: #FFAB001A !important;
}

#totalVehiculos {
  color: #004884;
}

.center {
  text-align: center;
}

#cabezera-tabla{
  height: 100px;
}

.tabla-primaria{
  border: 2px solid #E6EFFD !important;
}

.tabla-primaria th{
  border: 2px solid #E6EFFD !important;
}

.tabla-primaria tr{
  border: 1px solid #E6EFFD !important;
}

#eliminarInputsVehiculos {
margin-top:10px;
} 

.table-adaptative{
  width:500px;
}
