<div class="mt-4 px-sm-3 px-md-4 px-lg-5">
  <h1 class="h1-tipografia-govco texto-primario">Gestionar Pólizas</h1>
  <!--///////////////////////////// Tabla gestionar polizas ///////////////////////////////////////////////////// -->
  <div>
    <table class="table tabla-primaria" aria-describedby="table-basic">
      <thead class="encabezado-tabla" id="cabezera-tabla">
        <tr>
          <th scope="col">TIPO DE PÓLIZA</th>
          <th scope="col">N° DE PÓLIZA</th>
          <th scope="col">ESTADO PÓLIZA</th>
          <th scope="col">FECHA CARGUE</th>
          <th scope="col">VIGENCIA - FECHA INICIO</th>
          <th scope="col">VIGENCIA - FECHA FIN</th>
          <th scope="col">ASEGURADORA</th>
          <th scope="col">CANTIDAD DE VEHÍCULOS</th>
        </tr>
      </thead>
      <tbody class="contenido-tablas">
        <tr *ngFor="let poliza of polizas; let i = index">
          <td class="pointer" (click)="visualizarPoliza(poliza.poliza, poliza.tipoPoliza, poliza.estadoPoliza)">
            {{poliza.tipoPoliza}}
          </td>
          <td class="pointer" (click)="visualizarPoliza(poliza.poliza, poliza.tipoPoliza, poliza.estadoPoliza)">
            {{poliza.poliza}}
          </td>
          <td>{{poliza.estadoPoliza}}</td>
          <td>{{poliza.fechaCargue | fecha: 'dd/MM/yyyy'}}</td>
          <td>{{poliza.fechaInicio | fecha: 'dd/MM/yyyy'}}</td>
          <td>{{poliza.fechaFin | fecha: 'dd/MM/yyyy'}}</td>
          <td>{{poliza.aseguradora}}</td>
          <td class="center">{{poliza.cantidadVehiculos}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <ngb-pagination [collectionSize]="this.paginador.totalRegistros ?? 0" [page]="this.paginador.pagina"
        [pageSize]="paginador.limite" [directionLinks]="true" [maxSize]="5"
        (pageChange)="this.paginador.cambiarPagina($event)">
        <ng-template ngbPaginationFirst>Prim.</ng-template>
        <ng-template ngbPaginationLast>Ult.</ng-template>
        <ng-template ngbPaginationPrevious>Ant.</ng-template>
        <ng-template ngbPaginationNext>Sig.</ng-template>
      </ngb-pagination>
    </div>
  </div>
    <!--///////////////////////////// Tabla para ver la cantidad de vehiculos ///////////////////////////////////////////////// -->
    <div>
      <table class="table tabla-primaria" aria-describedby="table-basic">
        <thead class="encabezado-tabla" id="cabezera-cantidad-vehiculos">
          <tr>
            <th scope="col">TOTAL DE VEHÍCULOS ACTIVOS</th>
            <th scope="col">TOTAL DE PÓLIZAS CONTRACTUALES <br>DE VEHÍCULOS ACTIVOS</th>
            <th scope="col">TOTAL DE PÓLIZAS EXTRACONTRACTUALES <br>DE VEHÍCULOS ACTIVOS</th>
          </tr>
        </thead>
        <tbody class="contenido-tablas">
          <tr class="center">
            <td>{{totalVehiculos}}</td>
            <td>{{totalVehiculosContractuales}}</td>
            <td>{{totalVehiculosExtracontractuales}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <!--///////////////////////////// Tabla para ver la poliza seleccionada ///////////////////////////////////////////////////// -->
  <div class="d-block mb-3">
    <table class="table table-response" aria-describedby="tableDescResponsive">
      <tbody>
        <tr>
          <th scope="col">PÓLIZA</th>
          <td>{{numeroPoliza}}</td>
        </tr>
      </tbody>
    </table>
  </div>
        <!-----INICIO DE LAS MODALIDADES PAOLO-->
        <div class="row" *ngIf="verPoliza==true && modalidadesP.length > 0"> <!--esta es la linea del 16-10-2024 ocultar cuando no hay modalidad-->
          <div class="col py-2 ">
              <div class="borderP mt-1 tabla-informacionP w-100 table-responsiveP">
                  <div class="row encabezado-PModalidad borderP">
                    <div class="col-12 d-flex ">
                      <h2 class="fs-14px fw-semibold texto-azul-004884 aligPModalidad">DATOS DE MODALIDAD</h2>
                    </div>
                  </div>
                  <div class="row py-2 alingFilaP">
                    
                    <div *ngFor="let modalidad of modalidadesP; let i=index" class="col-md-2">
                      
                      <div class="col form-check">
                        
                          <input class="form-check-input aligPModalidad"  type="checkbox" checked disabled [value]="modalidad.obj_modalidad.modpol_id" >
                          <label>
                              {{modalidad.obj_modalidad.modpol_nombre}}
                          </label>
                      </div>
                    </div>
                  
                  </div>
                  
              </div>
          </div>
      </div>
        <!----FIN DE LAS MODALIDADES PAOLO-->
  
 

  <!--///////////////////////////// llamada componentes polizas contractuales y polizas extracontractuales///////////////////// -->
  <div class="mt-4 mb-3">
    <app-polizas-contractuales *ngIf="poliza && tipoPoliza==1 && verPoliza==true"
      [poliza]="poliza"></app-polizas-contractuales>
    <app-polizas-extracontractuales *ngIf="poliza && tipoPoliza==2 && verPoliza==true"
      [poliza]="poliza"></app-polizas-extracontractuales>
  </div>
  <!--///////////////////////////// Seccion para vincular vehiculos ///////////////////////////////////////////////////// -->
  <div class="d-flex mb-3">
    <div class="table-responsive custom-scroll">
      <form #vehiculosForm="ngForm" class="scroll-formulario">
        <table class="table table-adaptative">
          <thead class="encabezado-tabla">
            <tr style="display: flex; justify-content: center; align-items: center;  text-align: center;">
              <th colspan="2">VINCULAR VEHÍCULO</th>
              <th><button type="button" class="btn-govco fill-btn-govco" [disabled]="!esValido || !estadoPoliza" (click)="limpiarFormulario()">Limpiar</button></th>
            </tr>
            <tr class="w-100" style="display: flex; justify-content: space-around;">
              <th scope="col">PLACA</th>
              <th scope="col">CANTIDAD DE PASAJEROS</th>
            </tr>
          </thead>
          <tbody *ngFor="let vehiculo of vehiculos2; let i = index" class="contenido-tablas">
            <tr>
              <td class="entradas-de-texto-govco">
                <input type="text" name="placa{{i}}" [(ngModel)]="vehiculo.placa" placeholder="Ej: CKV341"
                       (change)="validarPlaca(vehiculo.placa, i)" maxlength="6" required/>
              </td>
              <td class="entradas-de-texto-govco">
                <input type="number" name="pasajeros{{i}}" [(ngModel)]="vehiculo.pasajeros" placeholder="Ej: 10"
                       [disabled]="!vehiculo.placaValida"  (input)="limitarDigitos($event, 2)" required/>
              </td>
              <button type="button" id="eliminarInputsVehiculos" class="btn-govco fill-btn-govco" (click)="eliminarVehiculo(i)"><i class="bi bi-trash"></i></button>
            </tr>
          </tbody>
          <tbody *ngIf="vehiculos2.length === 0 && estadoPoliza" class="contenido-tablas" id="arregloVehiculosVacio">
            <tr>
              <td colspan="2">
                <h5 style="color: black;">Agregué un vehículo</h5>
              </td>
            </tr>
          </tbody>

          <!-- <tbody class="contenido-tablas">
                          <tr *ngFor="let placa of placasInteroperabilidadPaginacion; let i = index">
                              <td class="checkbox-seleccion-govco">
                                  <input [id]="placa+'check'" type="checkbox"
                                      (click)="habilitarVinculacionVehiculo($event,placa)" />
                              </td>
                              <td>{{placa}}</td>
                              <td class="entradas-de-texto-govco">
                                  <input type="number" [id]="placa+'input'" name="pasajeros" placeholder="Ej: 10"
                                      (change)="agregarPasajeros($event,placa)" disabled />
                                  <span *ngIf="errores[placa+'input'] === 'cero' && checkHabilitado == true"
                                      class="validacion">No debe ser 0.</span>
                                  <span *ngIf="errores[placa+'input'] === 'negativo' && checkHabilitado == true"
                                      class="validacion">No debe ser número negativo.</span>
                                  <span *ngIf="errores[placa+'input'] === 'requerido' && checkHabilitado == true"
                                      class="validacion">La cantidad de pasajeros es requerida.</span>
                              </td>
                          </tr>
                      </tbody> -->
        </table>
      </form>

      <!-- <div class="d-flex justify-content-end">
                <ngb-pagination [collectionSize]="this.paginadorInteroperabilidad.totalRegistros"
                    [page]="this.paginadorInteroperabilidad.pagina" [pageSize]="paginadorInteroperabilidad.limite"
                    [directionLinks]="true" [maxSize]="5" (pageChange)="cambiarPaginaInteroperabilidad($event)">
                    <ng-template ngbPaginationFirst>Prim.</ng-template>
                    <ng-template ngbPaginationLast>Ult.</ng-template>
                    <ng-template ngbPaginationPrevious>Ant.</ng-template>
                    <ng-template ngbPaginationNext>Sig.</ng-template>
                </ngb-pagination>
            </div> -->
      <div class="d-flex justify-content-between ">
        <button type="button" class="btn-govco fill-btn-govco" style="width: 165px; height: 42px;"
          (click)="agregarVehiculosPoliza()" [disabled]="!esValido || !estadoPoliza">Vincular</button>
        <button type="button" class="btn-govco outline-btn-govco" style="width: 186px; height: 42px;"
          (click)="agregarVehiculoForm()" [disabled]="!esValido || !estadoPoliza">Agregar vehículo
          <!-- <i class="bi bi-plus-circle"></i> --></button>
      </div>
      <!-- <div class="mt-2 mb-2">
                <button type="button" class="btn-govco fill-btn-govco" style="width: 165px; height: 42px;"
                    (click)="agregarVehiculosPoliza()" [disabled]="!esValido">Vincular</button>
            </div> -->
    </div>
  </div>

  <!--///////////////////////////// Tabla para ver las novedades de la poliza ////////////////////////////////////////////// -->
  <div class="d-flex mb-3">
    <div class="table custom-scroll">
      <table class="table tabla-primaria" aria-describedby="table-basic">
        <thead class="encabezado-tabla">
          <tr>
            <th colspan="6" style="text-align: center !important;">NOVEDADES PÓLIZAS</th>
          </tr>
          <tr>
            <th scope="col">TIPO DE PÓLIZA</th>
            <th scope="col">N° DE PÓLIZA</th>
            <th scope="col">PLACA</th>
            <th scope="col">FECHA ACTUALIZACIÓN</th>
            <th scope="col">ESTADO</th>
            <th scope="col">OBSERVACIÓN</th>
          </tr>
        </thead>
        <tbody id="tabla-primaria-border" class="contenido-tablas">
          <tr *ngFor="let novedad of novedadesPolizaPaginacion; let i = index">
            <td *ngIf="novedad.tipoPoliza == 1">RESPONSABILIDAD CIVIL CONTRACTUAL</td>
            <td *ngIf="novedad.tipoPoliza == 2">RESPONSABILIDAD CIVIL EXTRACONTRACTUAL</td>
            <td>{{novedad.poliza}}</td>
            <td>{{novedad.placa}}</td>
            <td>{{novedad.fechaActualizacion | fecha: 'dd/MM/yyyy'}}</td>
            <td>{{novedad.estado}}</td>
            <td>{{novedad.observacion}}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <ngb-pagination [collectionSize]="this.paginadorNovedades.totalRegistros"
          [page]="this.paginadorNovedades.pagina" [pageSize]="paginadorNovedades.limite" [directionLinks]="true"
          [maxSize]="5" (pageChange)="cambiarPaginaNovedades($event)">
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
  <app-alertas-gov [alert]="alert" [text]="textoAlert"></app-alertas-gov>
  <app-popup #popup />
</div>
