*{
    padding: 0;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box !important;
}
body{
    background-color: #FFF;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  color: var(--azul-oscuro);
  margin-bottom: 20px;
}
h1,h2{
  font-size: 30px;
}

.max-width-200px{max-width: 200px;}
.max-width-300px{max-width: 300px;}
.max-width-400px{max-width: 400px;}

.fondo-gris-2{background-color: #B7B7B7;}
.fondo-gris-1{background-color: #f6f8f9;}
.fondo-primario{background-color: var(--azul) !important;}
.fondo-secundario{background-color: #e6effd !important;}

.cursor-pointer{
    cursor: pointer;
}

.flex-gap-5{gap: 5px}
.flex-gap-10{gap: 10px}
.flex-gap-20{gap: 20px}
.flex-gap-30{gap: 30px}
.flex-gap-40{gap: 40px}


.icono-20px{
    width: 20px;
    height: auto;
}
.icono-15px{
    width: 15px;
    height: auto;
}
.icono-10px{
    width: 10px;
    height: auto;
}
.material-icon-30px{
  font-size: 30px;
}
.material-icon-35px{
  font-size: 35px;
}

/* botones */
.boton{
  height: 34px;
  padding: 5px 17px;
  border-radius: 20px;  
  outline: none;
  border: none;
  font-size: 16px;
}
.boton.primario.relleno{
  background-color: var(--azul);
  color: white;
}
.boton.primario.relleno:hover{
  background-color: var(--azul-oscuro);
  color: white;
}
.boton.primario.relleno:disabled{
  background-color: #ededed;
  color: #8b8b8b;
  border-color: #c7c7c7;  
}

.boton.primario.delineado{
  background-color: #fff;
  border: 2px solid var(--azul-oscuro);
  color: var(--azul-oscuro);
}
.boton.primario.delineado:hover{
  background-color: var(--azul-oscuro);
  color: white;
}
.boton.primario.delineado:disabled{
  background-color: #ededed;
  color: #8b8b8b;
  border-color: #c7c7c7;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--azul);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--azul);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .copiar-portapapeles{
    position: relative;
    width: 12px;
    height: 12px;
  }
  .copiar-portapapeles::after, .copiar-portapapeles::before{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 1px solid var(--azul);
    cursor: pointer;
  }
  .copiar-portapapeles::before{
    top: 2px;
    right: 2px;
    background-color: white;
  }
  .copiar-portapapeles::after{
    top: -2px;
    right: -2px;
    background-color: white;
  }

.swal2-html-container {
  margin: 0 0 0 !important;
  padding: 0 !important;
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0,100%);
  min-width: 360px !important;
  width: fit-content !important;
  max-width: 100%;
  padding: 0 0 0 !important;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}
.resumen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 200px;
  border: 5px solid #EDEFF0;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.resumen img{
  width: 50px;
  height: auto;
}

.validacion{
  /* width: 100%; */
  color: #AC0404;
  font-size: 12px;
}
.validacion-span{
  color: #AC0404;
  font-size: 10px;
  font-weight: normal;
}

.borde-rojo{
  border: 1px solid red;
}

.boton-cerrar-alerta{
  position: absolute;
  top: 0px;
  right: 10px;
}
.boton-cerrar-alerta img{
  width: 13px;
}

.total{
  box-sizing: border-box;
  width: 76px;
  height: 24px;
  background-color: #B7B7B7;
  color: #ffff;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 2px;
  text-align: center;
}

.acciones{
  font-size: 8px;
  color: #9B9B9B;
}

.cargando{
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(241deg, var(--azul) 30%, var(--azul-oscuro) 100%);
}
.cargando::after{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border-top: 2px solid ;
}

.tabla-primaria th, .tabla-primaria td{
  padding: 12px 17px;
}
.tabla-primaria th{
  background-color: #E6EFFD !important;
  color: #004884;
  vertical-align: middle;
}
.tabla-primaria td{
}

.encabezado-tabla{
  background-color: #E6EFFD !important;
  color: #004884;
  padding: 12px 15px;
  vertical-align: middle;
}
.celda-centrada{
  vertical-align: middle;
  text-align: center;
}
.invalido{
  border: 1px solid #e00909;
}

.bg-invalido,.bg-peligro{
  background-color: var(--bg-color-peligro);
}
.bg-exitoso{
  background-color: var(--bg-color-exitoso);
}


.custom-scroll::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll */
  height: 12px;
  cursor: pointer !important;
}

/* Estilo del track del scroll */
.custom-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo del track */
  cursor: pointer !important;
}

/* Estilo del thumb (barra de desplazamiento) del scroll */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll); /* Color del thumb */
  border-radius: 7px; /* Radio de borde del thumb */
  cursor: pointer !important;
}

/* Estilo del thumb (barra de desplazamiento) del scroll cuando se está interactuando con él */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-hover); /* Color del thumb al pasar el cursor sobre él */
  cursor: pointer !important;
}

.tabla-informacion{
  font-size: 14px;
  border-collapse: collapse;
}
.tabla-informacion td, .tabla-informacion th{
  border: 1px solid gainsboro;
  padding: 7px 10px;
}
.tabla-informacion th{
  font-weight: 600;
  background-color: var(--azul-claro);
  color: var(--azul-oscuro);
}
.hipervinculo{
  color: var(--azul);
  cursor: pointer;
}
.hipervinculo:hover{
  color: var(--azul-oscuro);
}