<app-cabecera />
<div class="fondo ">
  <div class="fondo-imagen">
    <div class="d-flex justify-content-center py-3">
      
      <div class="card contenedor-inicio-sesion ">
        <div class="card-body">
          <div class="logos d-flex w-100 px-2 justify-content-between">
            <div class="col-12 ms-auto text-center">
              <img draggable="false" class="img-fluid logo-supertransporte" src="assets/img/cabecera/supertransporte.jpg"
                alt="ministerio-de-transporte">
              
            </div>
          </div>
          <div class="contenedor-formulario">
            <h3 class="fw-semibold texto-azul-004884 mb-3 w-100 text-center">Problemas de acceso</h3>
        <hr class="w-100">
        
        <form [formGroup]="formulario">
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <fieldset>
                        <label>
                            NIT <span class="">*</span>
                        </label>
                    
                        <input type="text" class="form-control"  formControlName="nit" />
                        
                    </fieldset>
                    <app-validacion  
                            [control]="this.formulario.controls['nit']" 
                            [texto]="'Debe tener al menos 6 dígitos.'" 
                            [validacion]="'minlength'"/>
                    
                    <app-validacion  
                            [control]="this.formulario.controls['nit']" 
                            [texto]="'El nit es requerido.'" 
                            [validacion]="'required'"/>
                  
                </div>
                <div class="col-sm-12 col-md-6">
                    <fieldset>
                        <label>
                            Razón social <span class="">*</span>
                        </label>
                    </fieldset>
                    <input type="text" class="form-control" formControlName="razonSocial"/>
                    <app-validacion  
                            [control]="this.formulario.controls['razonSocial']" 
                            [texto]="'La razón social es requerida.'" 
                            [validacion]="'required'"/>
                            
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <fieldset>
                        <label>
                            Correo electrónico <span class="">*</span>
                        </label>
                    </fieldset>
                    <input type="text" class="form-control" formControlName="correo"/>
                    
                    <app-validacion  
                            [control]="this.formulario.controls['correo']" 
                            [texto]="'Ingrese un correo valido'" 
                            [validacion]="'email'"/>
                    <app-validacion  
                            [control]="this.formulario.controls['correo']" 
                            [texto]="'El correo es requerido.'" 
                            [validacion]="'required'"/>
                </div>
                <div class="col-sm-12 col-md-6">
                    <fieldset>
                        <label>
                            Teléfono
                        </label>
                    </fieldset>
                    <input type="text" class="form-control" formControlName="telefono"/>
                    <app-validacion  
                            [control]="this.formulario.controls['telefono']" 
                            [texto]="'El teléfono es requerido.'" 
                            [validacion]="'required'"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="row">
                        <div class="col-4">
                            <span>Motivo/Error<span class="">*</span></span>
                        </div>
                        <div class="col-8">
                            
                            <select class="form-select" formControlName="errorAcceso" >
                                <option value="">Seleccione una opción</option>
                                <option value="001">001 - Error de usuario</option>
                                <option value="002">002 - Error de correo electrónico</option>
                            </select>
                            <app-validacion  
                            [control]="this.formulario.controls['errorAcceso']" 
                            [texto]="'Seleccione una opción.'" 
                            [validacion]="'required'"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="row">
                        <div class="col-4">
                            <span>Descripción <span class="">*</span></span>
                        </div>
                        <div class="col-8">
                            <textarea class="form-control alto-textarea" formControlName="descripcion" cols="30" rows="50" ></textarea>
                            <app-validacion  
                            [control]="this.formulario.controls['descripcion']" 
                            [texto]="'La descripción es requerida.'" 
                            [validacion]="'required'"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="row">
                        <div class="col-4">
                            <span>Evidencia <span class="">*</span></span>
                        </div>
                        <div class="col-12">
                            <app-input-archivo
                            [acepta]="['.pdf','.docx','.jpg','.png','.jpge']"
                            [tamanoMaximoMb]="7"
                            (excedeTamano)="manejarExcedeTamano()"
                            formControlName="adjunto" />                            
                            <span class="fs-12px">Formatos de archivo: PDF, Documentos Word e imágenes, Peso máximo 7 Mb</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr class="w-100">
        <div class="d-flex align-items-center justify-content-center flex-gap-20 mb-3 w-100">
            <button class="boton primario relleno" (click)="crearSoporte()" [disabled]="generandoRadicado">Guardar</button>
            <button class="boton primario delineado" [routerLink]="['/inicio-sesion']">Volver</button>
        </div>
            <!-- Los enlaces siguen comentados -->
            <div id="contenedor-enlaces" class="text-center mt-3">
              <!-- <span class="fs-16px texto-azul-004884 cursor-pointer">
                <a href="https://www.youtube.com/watch?v=4zJH7N8OgV4" target="_blank">
                  Video tutorial de recuperación de contraseña
                </a>
              </span><br>
              <span class="fs-16px texto-azul-004884 cursor-pointer">
                <a href="assets/documentos/manual_polizas.pdf" target="_blank">
                  Manual de usuario
                </a>
              </span><br>
              <span class="fs-16px texto-azul-004884 cursor-pointer">
                <a href="assets/documentos/PREGUNTAS_FRECUENTES_PECCIT.pdf" target="_blank">
                  Preguntas frecuentes
                </a>
              </span><br>-->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangulo"></div>
</div>

<!--FOOTER -->
<div class="footerP ">
  <nav class="navbar w-100 ps-5 ">
    <div class="container-fluid d-flex">
      <div class="logo logosuperP">
        <img class="img-fluid escudoGoP" src="assets/img/footer/co_colombia.png" alt="">
        <img class="img-fluid escudoGoP" src="assets/img/cabecera/gov.png" alt="">
      </div>
      
      <!--
      <div class="d-flex align-items-center justify-content-end ms-auto" *ngIf="usuario">
        <span class="fs-12px p-3 cursor-pointer"><b>Usuario: </b>{{ usuario.nombre }} {{ usuario.apellido }}</span>
      </div> -->
    </div>
  </nav>
</div>



<app-popup #popup />