<div class="clasificacion d-flex w-100 cursor-pointer fondo-desplegable mb-3" (click)="alternarDesplegar()">
    <span>
        <img alt="" *ngIf="desplegado" src="assets/img/desplegado.png" class="cursor-pointer" draggable="false">
        <img alt="" *ngIf="!desplegado" src="assets/img/replegado.png" class="cursor-pointer" draggable="false">
    </span>
    <span class="fs-14px fw-semibold texto">
        AMPAROS ADICIONALES:
    </span>
</div>
<div class="w-100 overflow-auto custom-scroll" [ngClass]="{'d-none': !desplegado, 'd-block': desplegado}">
    <div class="d-flex mx-3 mb-3">
        <div *ngIf="true" class="col-12">
            <div class="row mx-0 mb-3 encabezado">
                <div class="col-4 justify-content-start">
                    <span class="fs-14px fw-semibold">Coberturas y/o amparos básicos</span>
                </div>
                <div class="col-2 justify-content-start">
                    <span class="fs-14px fw-semibold">Cobertura</span>
                </div>
                <div class="col-2 justify-content-start">
                    <span class="fs-14px fw-semibold">Valor Asegurado (SMMLV)</span>
                </div>
                <div class="col-2 justify-content-start">
                    <span class="fs-14px fw-semibold">Límites (SMMLV POR PERSONA)</span>
                </div>
                <div class="col-2 justify-content-start">
                    <span class="fs-14px fw-semibold">Deducible (Si lo tiene)</span>
                </div>
            </div>
            <div class="row mx-0 mb-3" *ngFor="let amparosAdicionales of amparosAdicionales">
                <div class="col-4 justify-content-start" >
                    <span class="fs-14px">{{amparosAdicionales.descripcion}}</span>
                </div>
                <div class="col-2 justify-content-start">
                    <span class="fs-14px">{{amparosAdicionales.nombre}}</span>
                </div>
                <div class="col-2 justify-content-start">
                    <input class="form-control" type="number" placeholder="Valor Asegurado">
                </div>
                <div class="col-2 justify-content-start">
                    <input class="form-control" type="number" placeholder="Límites">
                </div>
                <div class="col-2 justify-content-start">
                    <input class="form-control" type="number" placeholder="Deducible">
                </div>
            </div>
        </div>
    </div>
</div>
