<div class="p-5 pt-0">
    <div class="d-block w-100">
        <h2 class="fs-20px fw-semibold texto-azul-004884 mb-3 text-center mt-3 w-100">{{titulo}}</h2>
        
        <div class="row justify-content-center mb-3">
            <div class="col-8 text-center justify-content-center">
                <div class="clasificacion d-flex w-100 cursor-pointer fondo-desplegable mb-3 justify-content-center">
                    <span class="fs-14px fw-semibold texto mx-3">
                        Por favor, seleccione la modalidad de servicio
                    </span>
                </div>
                <div>
                    <select title="modalidad" id="modalidad" class="form-select text-center">
                        <option value="">Selecione una modalidad</option>
                        <option *ngFor="let modalidad of modalidades" [value]="modalidad.id!">
                            {{modalidad.nombre!}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex w-100">
            <p class="w-100 text-center">
                En caso de no suministrar la información, 
                suministro incompleto y/o sé constate inexactitud en la información o en alguno de los documentos suministrados, 
                se adelantarán los procesos administrativos sancionatorios correspondientes, 
                de conformidad con lo dispuesto en la ley 366 del 1996 y derechos reglamentarios.
            </p>
        </div>
    </div>
</div>
<div class="w-100">
    <app-polizas-rcc #polizasRCC
    [polizaRCC]="polizas['RESPONSABILIDAD CIVIL CONTRACTUA']!"
    ></app-polizas-rcc>
    <app-polizas-rce #polizasRCE
    [polizaRCE]="polizas['RESPONSABILIDAD CIVIL EXTRACONTRACTUAL']!"
    ></app-polizas-rce>
</div>
