<div class="p-5 pt-0">
    <div class="d-block w-100">
        <h2 class="fs-20px fw-semibold texto-azul-004884 mb-3 text-center mt-3 w-100">{{titulo}}</h2>
        <div class="d-flex w-100">
            <p class="w-100 text-center">
                En caso de no suministrar la información, 
                suministro incompleto y/o se constate inexactitud en la información o en alguno de los documentos suministrados, 
                se adelantarán los procesos administrativos sancionatorios correspondientes, 
                de conformidad con lo dispuesto en la Ley 366 del 1996 y derechos reglamentarios.
            </p>
        </div>
    </div>
</div>
<!-- *ngIf="polizas" -->
<div class="p-5 pt-0" >
    <app-polizas #Polizas></app-polizas>
</div>

