<div class="mt-3 px-sm-3 px-md-4 px-lg-5">
  <div class="py-2">
    <span class="TamTituloP texto-azul-004884">
      Gestionar placas
    </span>
  </div>

  <div class="d-flex align-items-center">
    <div class="entradas-de-texto-govco">
      <label for="numeroPlaca">Digite el número de la placa a consultar</label>
      <div class="input-wrapperP">
        <input type="text" class="inputP" id="numeroPlaca" placeholder="Digite la placa." [(ngModel)]="placa">
        <span  class="material-symbols-outlined input-iconP bg-primary" style="background: #004884 !important;" (click)="consultarPoliza(placa)">search</span>
      </div>
      
    </div>
    <!--
    <button type="button" class="btn-govco fill-btn-govco" (click)="consultarPoliza(placa)"
      style="width: 165px; height: 42px; margin-left: 1rem;">
      Consultar  
    </button>-->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsiveP">
        <table class="table tabla-informacionP" aria-describedby="table-basic">
          <thead class="encabezado-PModalidad">
            <tr class="izq">
              <th scope="col" colspan="2">
                <h4 class="SubtituloP" >Póliza Contractual( Actual )</h4>
              </th>
            </tr>
          </thead>
          <tbody class="contenido-tablas negrita">
            <tr class="izq">
              <td class="tdxP fw-semibold">placa</td>
              <td class="tdxP fw-semibold">{{placa}}</td>
            </tr>
            <tr class="izq">
              <td class="tdxP fw-semibold">Póliza</td>
              <td class="tdxP fw-semibold">{{polizas.contractual?.poliza}}</td>
            </tr>
            <tr class="izq">
              <td class="tdxP fw-semibold">Estado de Póliza</td>
              <td class="tdxP fw-semibold">{{polizas.contractual?.estadoPoliza}}</td>
            </tr>
            <tr class="izq">
              <td class="tdxP fw-semibold">Fecha de cargue</td>
              <td class="tdxP fw-semibold">{{polizas.contractual?.fechaCargue | fecha: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr class="izq">
              <td class="tdxP fw-semibold">Vigencia - Fecha Inicio</td>
              <td class="tdxP fw-semibold">{{polizas.contractual?.fechaInicio | fecha: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr class="izq">
              <td class="tdxP fw-semibold">Vigencia - Fecha Fin</td>
              <td class="tdxP fw-semibold">{{polizas.contractual?.fechaFin | fecha: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr class="izq">
              <td class="tdxP fw-semibold">Aseguradora</td>
              <td class="tdxP fw-semibold">{{polizas.contractual?.aseguradora}}</td>
            </tr>
            <tr class="izq">
              <td class="tdxP fw-semibold">Estado vinculación Placa</td>
              <td  class="tdxP fw-semibold">
                <div class="switch-seleccion-govco form-switch m-2 mt-2" *ngIf="polizas.contractual?.existe">
                  <input class="form-check-input" type="checkbox" id="opt3" [checked]="vinculadaCont" [(ngModel)]="vinculadaCont"
                  [disabled]="desVinculadaCont || !estadoPolizaCont!" (change)="estadoVinculacion(1)">
                  <label for="opt3" *ngIf="vinculadaCont">Vinculada</label>
                  <label for="opt3" *ngIf="!vinculadaCont">Desvinculada</label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Observación</td>
              <td class="tdxP fw-semibold">
                <div class="entradas-de-texto-govco" style="margin-right: 1rem;" *ngIf="polizas.contractual?.existe">
                  <input type="text" id="input-basico-id" [(ngModel)]="observacionCont"
                  [disabled]="desVinculadaCont || !estadoPolizaCont!"/>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2"  class="tdxP fw-semibold">
                <h4 class="h4-tipografia-govco">
                  {{polizas.contractual?.mensaje}}
                </h4>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="tdxP text-center">
                <fieldset>
                  <button type="button" class="btn-govco fill-btn-govco btnPRadiusDescaga" (click)="desvincular(1,polizas.contractual?.id,observacionCont!)"
                    style="width: 165px; height: 42px; margin-left: 1rem;" [disabled]="desVinculadaCont || !estadoPolizaCont! || estadoVinCont">
                    Guardar
                  </button>
                </fieldset>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsiveP">
        <table class="table tabla-informacionP" aria-describedby="table-basic">
          <thead class="encabezado-PModalidad">
            <!--      
      <div class="table-responsive custom-scroll">
        <table class="table tabla-primaria borderP" aria-describedby="table-basic">
          <thead class="encabezado-tabla">-->
            <tr>
              <th scope="col" colspan="2">
                <h4 class="SubtituloP">Póliza Extracontractual ( Actual )</h4>
              </th>
            </tr>
          </thead>
          <tbody class="contenido-tablas negrita">
            <tr>
              <td class="tdxP fw-semibold ">Placa</td>
              <td class="tdxP fw-semibold">{{placa}}</td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Póliza</td>
              <td class="tdxP fw-semibold">{{polizas.extraContractual?.poliza}}</td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Estado de Póliza</td>
              <td class="tdxP fw-semibold">{{polizas.extraContractual?.estadoPoliza}}</td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Fecha de Cargue</td>
              <td class="tdxP fw-semibold">{{polizas.extraContractual?.fechaCargue | fecha: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Vigencia - Fecha Inicio</td>
              <td class="tdxP fw-semibold">{{polizas.extraContractual?.fechaInicio | fecha: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Vigencia - Fecha Fin</td>
              <td class="tdxP fw-semibold">{{polizas.extraContractual?.fechaFin | fecha: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Aseguradora</td>
              <td class="tdxP fw-semibold">{{polizas.extraContractual?.aseguradora}}</td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Estado Vinculación Placa</td>
              <td class="tdxP fw-semibold">
                <div class="switch-seleccion-govco form-switch m-2 mt-2" *ngIf="polizas.extraContractual?.existe">
                  <input class="form-check-input" type="checkbox" id="opt3" [checked]="vinculadaExtraCont"
                  [disabled]="desVinculadaExtraCont || !estadoPolizaExtraCont!"
                  [(ngModel)]="vinculadaExtraCont" (change)="estadoVinculacion(2)">
                  <label for="opt3" *ngIf="vinculadaExtraCont">Vinculada</label>
                  <label for="opt3" *ngIf="!vinculadaExtraCont">Desvinculada</label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="tdxP fw-semibold">Observación</td>
              <td class="tdxP fw-semibold">
                <div class="entradas-de-texto-govco" style="margin-right: 1rem;"
                  *ngIf="polizas.extraContractual?.existe">
                  <input type="text" id="input-basico-id" [(ngModel)]="observacionExtraCont"
                  [disabled]="desVinculadaExtraCont || !estadoPolizaExtraCont!"/>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2"  class="tdxP fw-semibold">
                <h4 class="h4-tipografia-govco">
                  {{polizas.extraContractual?.mensaje}}
                </h4>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center">
                <fieldset>
                  <button type="button" class="btn-govco fill-btn-govco btnPRadiusDescaga" (click)="desvincular(2,polizas.extraContractual?.id,observacionExtraCont!)"
                    style="width: 165px; height: 42px; margin-left: 1rem;" [disabled]="desVinculadaExtraCont || !estadoPolizaExtraCont! || estadoVinExtraCont">
                    Guardar
                  </button>
                </fieldset>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--  ////////////// TABLA DE NOVEDADES ///////////////  -->
  <div class="d-flex w-100 py-4">
    <div class="table-responsive custom-scroll w-100">
      <div class="mt-2 clasificacion d-flex w-100">
        <div class="mx-3">
          <span class="SubtituloP">
            Novedades Pólizas
          </span>
        </div>
      </div>      
      <table class="table tabla-primaria  borderP">
        <thead class="encabezado-tabla">
          <tr class="izq">
            <th class="">Tipo de Póliza</th>
            <th class="">N° de Póliza</th>
            <th class="">Placa</th>
            <th class="">Fecha de Actualizacion</th>
            <th class="">Estado</th>
            <th>Observción</th>
          </tr>
        </thead>
        <tbody class="contenido-tablas">
          <tr *ngFor="let novedad of novedadesPaginadas" class="izq">
            <td *ngIf="novedad.tipoPoliza">
              <p *ngIf="novedad.tipoPoliza == 1">Contractual</p>
              <p *ngIf="novedad.tipoPoliza != 1 && novedad.tipoPoliza == 2">Extracontractual</p>
            </td>
            <td>{{novedad.poliza}}</td>
            <td>{{novedad.placa}}</td>
            <td>{{novedad.fechaActualizacion | fecha: 'dd/MM/yyyy'}}</td>
            <td>{{novedad.estado}}</td>
            <td>{{novedad.observacion}}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <ngb-pagination [collectionSize]="this.paginadorNovedades.totalRegistros"
          [page]="this.paginadorNovedades.pagina" [pageSize]="paginadorNovedades.limite" [directionLinks]="true"
          [maxSize]="5" (pageChange)="cambiarPaginaNovedades($event)">
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
  <!--  ////////////// TABLA DE HISTORIAL ///////////////  -->
  <div class="d-flex w-100">
    <div class="table-responsive custom-scroll w-100">
      <div class="mt-2 clasificacion d-flex w-100">
        <div class="mx-3">
          <span class="SubtituloP">
            Historia de pólizas
          </span>
        </div>
      </div>      
      <table class="table tabla-primaria  borderP">
        <thead class="encabezado-tabla">
          <tr class="izq">
            <th class="">Tipo de Póliza</th>
            <th class="">N° de Póliza</th>
            <th class="">Placa</th>
            <th class="">Estado</th>
            <th class="">Fecha de Cargue</th>
            <th>Vigencia - Fecha de Inicio</th>
            <th>Vigencia - Fecha Final</th>
            <th>Aseguradora</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="contenido-tablas">
          <tr *ngFor="let historial of historialPaginado">
            <td>{{historial.tipoPoliza}}</td>
            <td>{{historial.poliza}}</td>
            <td>{{historial.placa}}</td>
            <td>{{historial.estadoPoliza}}</td>
            <td>{{historial.fechaCargue | fecha: 'dd/MM/yyyy'}}</td>
            <td>{{historial.fechaInicio | fecha: 'dd/MM/yyyy'}}</td>
            <td>{{historial.fechaFin | fecha: 'dd/MM/yyyy'}}</td>
            <td>{{historial.aseguradora}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <ngb-pagination [collectionSize]="this.paginadorHistorial.totalRegistros"
          [page]="this.paginadorHistorial.pagina" [pageSize]="paginadorHistorial.limite" [directionLinks]="true"
          [maxSize]="5" (pageChange)="cambiarPaginaHistorial($event)">
          <ng-template ngbPaginationFirst>Prim.</ng-template>
          <ng-template ngbPaginationLast>Ult.</ng-template>
          <ng-template ngbPaginationPrevious>Ant.</ng-template>
          <ng-template ngbPaginationNext>Sig.</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
  <app-alertas-gov [alert]="alert" [text]="textoAlert"></app-alertas-gov>
</div>

<app-popup #popup></app-popup>
