<div class="mt-4 px-sm-3 px-md-4 px-lg-5">
  <div class="contenedor-tabla">
    <h4 class="modal-title-tables" id="tableDescBasic">Tabla Básica</h4>
    <table class="table table-general table-basic" aria-describedby="tableDescBasic">
      <thead class="encabezado-tabla">
        <tr>
          <th scope="col">
            <!-- <input type="checkbox" name="" id="check-basico"> -->
            <label class="checkout-tabla" for="check-basico">
              Seleccionar filas
            </label>
          </th>
          <th scope="col">
            Nombre
          </th>
          <th scope="col">
            ID
          </th>
          <th scope="col">
            Descripción
          </th>
        </tr>
      </thead>
      <tbody class="contenido-tablas">
        <tr>
          <td>
            <input type="checkbox" name="" id="item-1">
            <label class="checkout-tabla" for="item-1">
              Seleccionar fila 1
            </label>
          </td>
          <td>
            Módulo 1
          </td>
          <td class="contenido-numerico">
            4598
          </td>
          <td>
            Descripción del módulo y su función Descripción del módulo y su función Descripción del módulo y su función
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="" id="item-2">
            <label class="checkout-tabla" for="item-2">
              Seleccionar fila 2
            </label>
          </td>
          <td>
            Módulo 1
          </td>
          <td class="contenido-numerico">
            4598
          </td>
          <td>
            Descripción del módulo y su función Descripción del módulo y su función Descripción del módulo y su función
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container-govco">
    <nav class="nav-pagination-govco" aria-label="paginador de ejemplo">
      <div class="pagination-govco" id="paginationExample" total="20" initialpage="5">
        <ul id="lista-paginador"></ul>
      </div>
    </nav>
  </div>
</div>
