<div class="px-sm-3 px-md-4 py-4">
    <h2 class="fw-semibold texto-azul-004884 mb-3">Solicitudes de soporte</h2>
    <div class="d-flex flex-column justify-content-between align-items-start mb-4">
        <form [formGroup]="formulario">
            <span class="fs-18px fw-semibold texto-azul-004884 mb-3">Filtros</span>
            <div class="d-flex align-items-end flex-gap-10">
                <fieldset>
                    <label>NIT, Razón social ...</label>
                    <app-input-busqueda formControlName="termino"></app-input-busqueda>
                </fieldset>
                <fieldset>
                    <label>Estado</label>
                    <select formControlName="estado" class="form-select" value="3">
                        <option [value]="estado.id" *ngFor="let estado of estados">{{ estado.id }} - {{ estado.descripcion }}</option>
                    </select>
                </fieldset>
                <fieldset>
                    <button type="button" class="boton primario relleno" (click)="cambiarFiltros()">
                        Buscar
                    </button>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="d-flex mb-3">
        <div class="table-responsive custom-scroll tabla-soportes">
            <table class="table table-bordered tabla-primaria">
                <thead>
                    <tr class="fs-14px">
                        <th class=""></th>
                        <th class="">Radicado</th>
                        <th class="">Estado</th>
                        <th class="">Fecha de creación</th>
                        <th class="">NIT</th>
                        <th class="th-razon-social">Razón social</th>
                        <th class="th-descripcion">Descripción</th>
                        <th class="">Email</th>
                        <th class="">Teléfono</th>
                        <th class="th-respuesta">Respuesta</th>
                    </tr>
                </thead>
                <tbody class="fs-14px">
                    <tr *ngFor="let soporte of soportes ; let i = index" max-height="100px">
                        <td><img
                            (click)="irAResponderSoporte(soporte)"  
                            class="cursor-pointer" src="assets/img/buscar-documento.png" alt="buscar-encuesta" draggable="false"></td>
                        <td>{{ soporte.radicado }}</td>
                        <td class="fw-semibold">{{ obtenerDescripcionEstado(soporte.idEstado) }}</td>
                        <td>{{ soporte.fechaCreacion | fecha: 'dd/MM/yyyy' }}</td>
                        <td>{{ soporte.nit }}</td>
                        <td class="td-razon-social">{{ soporte.razonSocial }}</td>
                        <td>
                            <div class="contenedor-descripcion">
                                {{ soporte.descripcion }}
                            </div>
                        </td>
                        <td>{{ soporte.email }}</td>
                        <td>{{ soporte.telefono }}</td>
                        <td>
                            <div class="contenedor-respuesta">
                                {{ soporte.respuesta }}
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="soportes.length < 1">
                        <td colspan="10" class="text-center">
                            <span class="fw-semibold">No se encontraron soportes con los criterios de búsqueda actuales.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <ngb-pagination 
        [collectionSize]="this.paginador.totalRegistros ?? 0" 
        [page]="this.paginador.pagina"
        [pageSize]="paginador.limite" 
        [directionLinks]="true"
        [maxSize]="5"
        (pageChange)="this.paginador.cambiarPagina($event)">
            <ng-template ngbPaginationFirst>Prim.</ng-template>
            <ng-template ngbPaginationLast>Ult.</ng-template>
            <ng-template ngbPaginationPrevious>Ant.</ng-template>
            <ng-template ngbPaginationNext>Sig.</ng-template>
        </ngb-pagination> 
    </div>
</div>