<div class="p-1 pt-0 mt-3">
    <form [formGroup]="formExtracontractual">
        <!-- ///////////////////////////////////////RESPONSABILIDAD CIVIL EXTRACONTRACTUAL///////////////////////////////////// -->
        <div class="py-2">
          <span class="TamTituloP texto-azul-004884">
            Pólizas vigentes responsabilidad civil extracontractual
          </span>
        </div>
        
        <div class="w-100 custom-scroll" [ngClass]="{'d-none': !desplegarRCE, 'd-block': desplegarRCE}">

          <div class="borderP">
            <div class="clasificacion d-flex w-100 encabezado-PModalidad py-2">
              <div>
                <span class="ps-3 fs-14px fw-semibold texto-azul-004884">
                  Información sobre pólizas vigentes responsabilidad civil contractual:
                </span>
              </div>
            </div>          
            <div class="d-flex mx-3 mb-3 mt-2">
              <div class="col-6 encabezado">
                <div class="row mx-0 mb-3">
                  <div class="col-6 justify-content-start">
                    <span class="fs-14px">Número de póliza</span>
                  </div>
                  <div class="col-6">
                    <input formControlName="numeroPolizaE" class="form-control" type="number" placeholder="Número de póliza">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6 justify-content-center">
                    <span class="fs-14px">Seleccione Entidad Aseguradora</span>
                  </div>
                  <div class="col-6 justify-content-start">
                    <select formControlName="aseguradorasE" class="form-select" title="Lista de aseguradoras">
                      <option value="">Seleccione una opción</option>
                      <option *ngFor="let aseguradora of aseguradoras" [value]="aseguradora.id">
                        {{aseguradora.nombre}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-6 encabezado">
                <div class="row mx-0 mb-3">
                  <div class="col-7 justify-content-start">
                    <span class="fs-14px">Vigencia de la póliza: (Desde: inicio Vigencia)</span>
                  </div>
                  <div class="col-5">
                    <input formControlName="vigenciaPolizaInicioE" class="form-control" type="date" placeholder="Fecha inicial"
                      >
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-7 justify-content-center">
                    <span class="fs-14px">Vigencia de la póliza: (Hasta: Final Vigencia)</span>
                  </div>
                  <div class="col-5">
                    <input formControlName="vigenciaPolizaFinalE" class="form-control" type="date" placeholder="Fecha final"
                      >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 'AMPAROS BÁSICOS' -->
          <div class="mt-4 clasificacion d-flex w-100">
            <div class="mx-3">
              <span class="SubtituloP">
                Amparos básicos
              </span>
            </div>
          </div>

          <div class="borderP w-100 custom-scroll"
            [ngClass]="{'d-none': !desplegarAmparosB2, 'd-block': desplegarAmparosB2}">
            
              <div class="col-12 ">
                <div class="row  mb-3   encabezado-PModalidad py-2 centrado">
                  <div class="col-4 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Coberturas y/o amparos básicos</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Cobertura</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Valor Asegurado (SMMLV)</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Límites (SMMLV POR PERSONA)</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Deducible (Si lo tiene)</span>
                  </div>
                </div>

                <div class="row ">
                  <ul>
                    <li class="row mx-0 mb-3" id="1">
                      <div class="col-4 justify-content-start centrado" name="descripcion">
                        <span class="fs-14px">Coberturas y/o amparos básicos - Valor Asegurado - Límites - Deducible</span>
                      </div>
                      <ul class="col-2 justify-content-start centrado" name="nombre">
                        <span class="fs-14px">{{amparosBasicosE[0].nombre}}</span>
                      </ul>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="valorAseguradoAB9" class="form-control" type="number"
                          placeholder="Valor Asegurado">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="limitesAB9" class="form-control" type="number" placeholder="Límites">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="deducibleAB9" class="form-control" type="number" placeholder="Deducible">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="row ">
                  <ul>
                    <li class="row mx-0 mb-3" id="1">
                      <div class="col-4 justify-content-start" name="descripcion">
                        <span class="fs-14px">Coberturas y/o amparos básicos - Valor Asegurado - Límites - Deducible</span>
                      </div>
                      <ul class="col-2 justify-content-start centrado" name="nombre">
                        <span class="fs-14px">{{amparosBasicosE[1].nombre}}</span>
                      </ul>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="valorAseguradoAB10" class="form-control" type="number"
                          placeholder="Valor Asegurado">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="limitesAB10" class="form-control" type="number" placeholder="Límites">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="deducibleAB10" class="form-control" type="number" placeholder="Deducible">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="row ">
                  <ul>
                    <li class="row mx-0 mb-3" id="1">
                      <div class="col-4 justify-content-start" name="descripcion">
                        <span class="fs-14px">Coberturas y/o amparos básicos - Valor Asegurado - Límites - Deducible</span>
                      </div>
                      <ul class="col-2 justify-content-start centrado" name="nombre">
                        <span class="fs-14px">{{amparosBasicosE[2].nombre}}</span>
                      </ul>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="valorAseguradoAB11" class="form-control" type="number"
                          placeholder="Valor Asegurado">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="limitesAB11" class="form-control" type="number" placeholder="Límites">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="deducibleAB11" class="form-control" type="number" placeholder="Deducible">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            
          </div>
          
          <!-- 'AMPAROS ADICIONALES' -->
          <div class="mt-4 clasificacion d-flex w-100">
            <div class="mx-3">
              <span class="SubtituloP">
                Amparos adicionales
              </span>
            </div>
          </div>
          <div class="borderP w-100 custom-scroll"
            [ngClass]="{'d-none': !desplegarAmparosA2, 'd-block': desplegarAmparosA2}">
            
              <div class="col-12 ">
                <div class="row mx-0 mb-3   encabezado-PModalidad py-2">
                  <div class="col-4 justify-content-start">
                    <span class="fs-14px fw-semibold">Coberturas y/o amparos básicos</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Cobertura</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Valor Asegurado (SMMLV)</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Límites (SMMLV POR PERSONA)</span>
                  </div>
                  <div class="col-2 justify-content-start centrado">
                    <span class="fs-14px fw-semibold">Deducible (Si lo tiene)</span>
                  </div>
                </div>

                <div class="row">
                  <ul>
                    <li class="row mx-0 mb-3" id="12">
                      <div class="col-4 justify-content-start" name="descripcion">
                        <span class="fs-14px">Coberturas y/o amparos adicionales - Valor Asegurado - Límites - Deducible</span>
                      </div>
                      <div class="col-2 justify-content-start centrado" name="nombre">
                        <span class="fs-14px">{{amparosAdicionales[0].nombre}}</span>
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="valorAseguradoAA12" class="form-control" type="number"
                          placeholder="Valor Asegurado">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="limitesAA12" class="form-control" type="number" placeholder="Límites">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="deducibleAA12" class="form-control" type="number" placeholder="Deducible">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <ul>
                    <li class="row mx-0 mb-3" id="13">
                      <div class="col-4 justify-content-start" name="descripcion">
                        <span class="fs-14px">Coberturas y/o amparos adicionales - Valor Asegurado - Límites - Deducible</span>
                      </div>
                      <div class="col-2 justify-content-start centrado" name="nombre">
                        <span class="fs-14px">{{amparosAdicionales[1].nombre}}</span>
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="valorAseguradoAA13" class="form-control" type="number"
                          placeholder="Valor Asegurado">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="limitesAA13" class="form-control" type="number" placeholder="Límites">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="deducibleAA13" class="form-control" type="number" placeholder="Deducible">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <ul>
                    <li class="row mx-0 mb-3" id="14">
                      <div class="col-4 justify-content-start" name="descripcion">
                        <span class="fs-14px">Coberturas y/o amparos adicionales - Valor Asegurado - Límites - Deducible</span>
                      </div>
                      <div class="col-2 justify-content-start centrado" name="nombre">
                        <span class="fs-14px">{{amparosAdicionales[2].nombre}}</span>
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="valorAseguradoAA14" class="form-control" type="number"
                          placeholder="Valor Asegurado">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="limitesAA14" class="form-control" type="number" placeholder="Límites">
                      </div>
                      <div class="col-2 justify-content-start centrado">
                        <input formControlName="deducibleAA14" class="form-control" type="number" placeholder="Deducible">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <ul>
                  <li class="row mx-0 mb-3" id="15">
                    <div class="col-4 justify-content-start" name="descripcion">
                      <span class="fs-14px">Coberturas y/o amparos adicionales - Valor Asegurado - Límites - Deducible</span>
                    </div>
                    <div class="col-2 justify-content-start centrado" name="nombre">
                      <span class="fs-14px">{{amparosAdicionales[3].nombre}}</span>
                    </div>
                    <div class="col-2 justify-content-start centrado">
                      <input formControlName="valorAseguradoAA15" class="form-control" type="number"
                        placeholder="Valor Asegurado">
                    </div>
                    <div class="col-2 justify-content-start centrado">
                      <input formControlName="limitesAA15" class="form-control" type="number" placeholder="Límites">
                    </div>
                    <div class="col-2 justify-content-start centrado">
                      <input formControlName="deducibleAA15" class="form-control" type="number" placeholder="Deducible">
                    </div>
                  </li>
                  </ul>
                </div>
              </div>
            
          </div>
          <!-- RESPONSABILIDAD -->
          <div class="d-flex mb-4 py-2 mt-3 fondo-desplegable-azulbajo colorTextazul">
            <div class="encabezado mx-3">
              ¿La empresa tiene constituido un Fondo de Responsabilidad de que trata el Decreto Único Reglamentario del Sector
                Transporte?
            </div>
            <div class="row">
              <div class="col-1 mx-3 colorTextazul">
                <input type="checkbox" title="Si" formControlName="checkResponsabilidadE"
                  (change)="DesplegarFondoResponsabilidad()">SI
              </div>
              <div class="col-1 mx-3 colorTextazul">
                <input type="checkbox" title="No" formControlName="checkNoResponsabilidadE"
                  >NO
              </div>
            </div>
          </div>
          <div *ngIf="fondoResponsabilidadE" class="row d-flex mx-3 mb-3">
            <div class="clasificacion d-flex w-100 mb-3 texto-azul-004884">
              <span class="fs-14px fw-semibold centrar">
                Información sobre el fondo de responsabilidad
              </span>
            </div>
            <div class="d-flex w-100 mb-3">
              <div class="encabezado col-12">
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">Fecha Constitución Fondo</span>
                  </div>
                  <div class="col-6">
                    <input type="date" class="form-control" title="Fecha constitución" formControlName="fechaConstitucion"
                      name="fechaConstitucion">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">Número de Resolución Superintendencia Financiera o entidad competente</span><span
                      class="validacion">*</span>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control" title="Número resolución" formControlName="numeroResolucion">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">Fecha de Resolución Superintendencia Financiera o entidad competente</span><span
                      class="validacion">*</span>
                  </div>
                  <div class="col-6">
                    <input type="date" class="form-control" title="Fecha Resolución" formControlName="fechaResolucion"
                      name="fechaResolucion">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">Valor Reservas Técnicas del Fondo para cubrir las responsabilidades
                      (SMMLV)</span>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control" title="valor reservas" formControlName="valorReserva">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">
                      Fecha de corte reservas técnicas del fondo para cubrir las responsabilidades/fecha de corte reservas
                    </span>
                  </div>
                  <div class="col-6">
                    <input type="date" class="form-control" title="Fecha corte reservas" formControlName="fechaCorteReserva"
                      name="fechaCorteReserva">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">Otra información complementaria del Fondo</span>
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" title="información complementaria"
                      formControlName="infoComplementaria">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">¿El fondo opera en primera o segunda capa?</span>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control" title="¿primera o segunda?" formControlName="capas">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">Valor del cubrimiento 1 capa (SMMLV)</span>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control" title="primera capa" formControlName="capa1">
                  </div>
                </div>
                <div class="row mx-0 mb-3">
                  <div class="col-6">
                    <span class="fs-14px">Valor del cubrimiento 2 capa (SMMLV)</span>
                  </div>
                  <div class="col-6">
                    <input type="number" class="form-control" title="segunda capa" formControlName="capa2">
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </form>
</div>
